spring:
  datasource:
    url: jdbc:h2:mem:testdb;CACHE_SIZE=0
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    open-in-view: false
  h2:
    console:
      path: /h2-console
      settings:
        web-allow-others: true
      enabled: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml