<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Advanced</title>
</head>

<body>
<h1>Авторизация</h1>
<img th:src="@{/images/JavaAdvanced.png}"/>

<div th:if="${error}">
    Не удается войти в систему. Проверьте свое имя пользователя и пароль.
</div>

<p>Впервые у нас? Нажмите
    <a th:href="@{/register}">здесь</a> для регистрации.</p>

<form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Имя пользователя: </label>
    <input type="text" name="username" id="username" /><br/>

    <label for="password">Пароль: </label>
    <input type="password" name="password" id="password" /><br/>

    <input type="submit" value="Войти"/>
</form>
</body>
</html>